<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
  #swipper
  [autoplay]="{delay: 3000}"
  [slidesPerView]="1.5"    
  >
<swiper-slide *ngFor="let prod of productos">
<ion-card>
  <ion-card-header class="ion-no-padding">
    <ion-item lines="none">
      <p>{{prod.name}}</p>
      <ion-icon *ngIf="prod.stock > 0 " collor="success" slot="end" name="checkmark-cicle"></ion-icon>
      <ion-icon *ngIf="prod.stock === 0 " collor="danger" slot="end" name="close-cicle"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-img [src]="prod.imagen"></ion-img>
    <h3 class="ion-padding">{{prod.price | currency}}</h3>
  </ion-card-content>
</ion-card>
</swiper-slide> 
  </swiper-container>

  <ion-card>
    <div style="text-align:center">
      <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"
      ></apx-chart>
    </div>
  </ion-card>
    

</ion-content>

